@use "../../../shared/shared-styles.scss" as *;
.content {
  @include flex-center(column);
  margin-top: 50px;
}

.slider {
  @include flex-center;
  gap: 20px;
  width: 50%;
  @media (max-width: 426px) {
    width: 100% !important;
    flex-direction: column;
  }
  @media (width: 768px) {
    width: 70%;
  }
}
mat-card {
  width: 60%;
  margin-bottom: 8px;
  @media (max-width: 1024px) {
    width: 100% !important;
  }
  mat-card-header {
    @include flex-center;
    text-align: center;
    margin: 20px auto;
    padding: 0px;
    color: $blue-color;
  }
}
mat-icon {
  color: $orange-color;
}
