.content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.header {
  justify-content: flex-start;
  align-items: flex-start;
  .arrow_back {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 20px !important;
  }
  width: 100%;
}
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 50%;
  @media (max-width: 426px) {
    width: 100% !important;
    flex-direction: column;
  }
  @media (width: 768px) {
    width: 70%;
  }
}
mat-card {
  width: 60%;
  margin-bottom: 8px;
  @media (max-width: 1024px) {
    width: 100% !important;
  }
  mat-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    padding: 0px;
  }
}
