<div class="content">
  <div class="header">
    <div class="go_back">
      <button mat-icon-button class="arrow_back" (click)="goBack()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
  </div>
  <mat-progress-spinner
    *ngIf="showLoader"
    mode="indeterminate"
  ></mat-progress-spinner>
  <div class="slider">
    <button mat-icon-button (click)="goPrevious()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ userData.id }} </mat-card-title>
        <mat-card-title>{{ userData.name }} </mat-card-title>
        <mat-card-subtitle>{{ userData.phone }} </mat-card-subtitle>
        <mat-card-subtitle>{{ userData.email }}</mat-card-subtitle>
        <mat-card-subtitle
          >{{ userData!.address!.city }}
          {{ userData.address.street }}</mat-card-subtitle
        >
        <mat-card-subtitle> {{ userData.company.name }} </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <button mat-icon-button (click)="goNext()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
