<mat-card>
    <mat-card-header>
      <mat-card-title>Todo List</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>New Todo</mat-label>
        <input matInput [(ngModel)]="newTodo" placeholder="Add a new todo" />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="addTodo()">Add</button>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content>
      <ng-container *ngIf="(todos$ | async)!.length > 0">
        <mat-checkbox [(ngModel)]="clearAllChecked">Clear All</mat-checkbox>
        <button mat-raised-button color="warn" (click)="clearTodos()" [disabled]="!clearAllChecked">
          Clear All
        </button>
      </ng-container>
      <mat-list>
        <app-todo *ngFor="let todo of todos$ | async; let i = index" [todo]="todo" [index]="i" (remove)="removeTodo($event)">
        </app-todo>
      </mat-list>
    </mat-card-content>
  </mat-card>
  