@use "../../../shared/shared-styles.scss" as *;
mat-card {
  width: 25%;
  margin: 20px auto;
  @media (max-width: 500px) {
    width: 90%;
  }
  @media (min-width: 500px) and (max-width: 768px) {
    width: 50%;
  }
  @media (width: 1024px) {
    width: 40%;
  }
}
mat-card-header {
  @include flex-center;
  padding: 10px;
}
.new_todo {
  @include flex-center(column);
  mat-form-field {
    width: 100%;
  }
  button {
    background-color: $blue-color;
    padding: 0px 40px;
    color: $white-color;
    margin: 10px 0px;
  }
  button[disabled] {
    background-color: #b5d0ec;
  }
}
.todos_list {
  .clear_all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
  }
}
